# This is going to be epic ... sit back, relax and enjoy !

copy from https://www.kaggle.com/raddar/target-true-meaning-revealed/

1. Following my previous kernel (https://www.kaggle.com/raddar/towards-de-anonymizing-the-data-some-insights) I was able to reveal that target is transformed using **log function**, and the raw target can be reversed with 2**target transformation. 

2. Moreover, I speculated that the true target is **a ratio of product_sum**.

3. This kernel is all about **explaining**, what kind of ratio we are working with, and why the problem is so hard! And this is going to blow your mind!

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', '{:.10f}'.format)

train = pd.read_csv('./data/train.csv')
historical_transactions = pd.read_csv('./data/historical_transactions.csv')
new_merchant_transactions = pd.read_csv('./data/new_merchant_transactions.csv')

# To a meaningfull form: purchase_amount & target

Let's apply transformations as in previous kernel:

In [2]:
def shift_round(col):
    # shift_round: reverse normalization ?
    # where are the two numbers come from ?
    return np.round(col / 0.00150265118 + 497.06, 2)

new_merchant_transactions['purchase_amount_new'] = shift_round(new_merchant_transactions['purchase_amount'])
historical_transactions['purchase_amount_new'] = shift_round(historical_transactions['purchase_amount'])
train['target_raw'] = 2**train['target']

In [3]:
historical_transactions[["purchase_amount", "purchase_amount_new"]].head()

   purchase_amount  purchase_amount_new
0    -0.7033309100        29.0000000000
1    -0.7331284800         9.1700000000
2    -0.7203860000        17.6500000000
3    -0.7353524100         7.6900000000
4    -0.7228653800        16.0000000000

In [4]:
new_merchant_transactions[["purchase_amount", "purchase_amount_new"]].head()

   purchase_amount  purchase_amount_new
0    -0.5575737500       126.0000000000
1    -0.5695799300       118.0100000000
2    -0.5510372100       130.3500000000
3    -0.6719255000        49.9000000000
4    -0.6599042900        57.9000000000

# Find the simple case (stage 2)

Now in order to prove that target is a meaningful ratio, 

1. I was looking for some easy cases, such as **card_id with only one merchant_id**, with no transactions in new_merchant_transaction_table. 

2. This helps to **isolate the problem** and analyze it more thoroughly.

3. With some **manual exploration**, I found that merchant_id=M_ID_fc7d7969c3 is a perfect candidate to work with.

In [21]:
# find two merchant
merchant_counts = (historical_transactions.groupby(['card_id'])['merchant_id']
                                          .nunique().reset_index(name='merchant_n'))
one_merchant = merchant_counts[merchant_counts['merchant_n']==2].reset_index(drop=True)
print("one_merchant.shape:", one_merchant.shape)
print(one_merchant.head())

# no transactions in new_merchant_transactions
dat = historical_transactions.loc[historical_transactions['card_id'].isin(one_merchant['card_id'])]
print("historical one merchant records", dat.shape)
print(dat.head())
dat = dat.loc[~dat['card_id'].isin(new_merchant_transactions['card_id'])]
print("not in new_merchant_transactions")
print(dat.shape)
print(dat.head())
print("number of unique merchant ids", dat.merchant_id.nunique())

one_merchant.shape: (2367, 2)
           card_id  merchant_n
0  C_ID_00167ca6d8           2
1  C_ID_0024770552           2
2  C_ID_00251f994c           2
3  C_ID_0028e15a78           2
4  C_ID_002c77f4ae           2
historical one merchant records (39116, 15)
       authorized_flag          card_id  city_id category_1  installments  \
187933               Y  C_ID_3f0a4b6f48       69          N             1
187934               Y  C_ID_3f0a4b6f48       -1          Y             1
187935               Y  C_ID_3f0a4b6f48       -1          Y             1
187936               Y  C_ID_3f0a4b6f48       -1          Y             1
187937               Y  C_ID_3f0a4b6f48       -1          Y             1

       category_3  merchant_category_id      merchant_id  month_lag  \
187933          B                   661  M_ID_9e84cda3b1         -8
187934          B                   661  M_ID_fc7d7969c3          0
187935          B                   661  M_ID_fc7d7969c3        -11
187936          B                   661  M_ID_fc7d7969c3         -9
187937          B                   661  M_ID_fc7d7969c3         -3

        purchase_amount        purchase_date   category_2  state_id  \
187933    -0.4961754200  2017-06-28 05:10:01 1.0000000000         9
187934    -0.7049838300  2018-02-15 08:42:17          nan        -1
187935    -0.7124970800  2017-03-15 09:30:03          nan        -1
187936    -0.7124970800  2017-05-15 09:06:01          nan        -1
187937    -0.7049838300  2017-11-15 10:31:09          nan        -1

        subsector_id  purchase_amount_new
187933             8       166.8600000000
187934             8        27.9000000000
187935             8        22.9000000000
187936             8        22.9000000000
187937             8        27.9000000000
not in new_merchant_transactions
(26802, 15)
       authorized_flag          card_id  city_id category_1  installments  \
187933               Y  C_ID_3f0a4b6f48       69          N             1
187934               Y  C_ID_3f0a4b6f48       -1          Y             1
187935               Y  C_ID_3f0a4b6f48       -1          Y             1
187936               Y  C_ID_3f0a4b6f48       -1          Y             1
187937               Y  C_ID_3f0a4b6f48       -1          Y             1

       category_3  merchant_category_id      merchant_id  month_lag  \
187933          B                   661  M_ID_9e84cda3b1         -8
187934          B                   661  M_ID_fc7d7969c3          0
187935          B                   661  M_ID_fc7d7969c3        -11
187936          B                   661  M_ID_fc7d7969c3         -9
187937          B                   661  M_ID_fc7d7969c3         -3

        purchase_amount        purchase_date   category_2  state_id  \
187933    -0.4961754200  2017-06-28 05:10:01 1.0000000000         9
187934    -0.7049838300  2018-02-15 08:42:17          nan        -1
187935    -0.7124970800  2017-03-15 09:30:03          nan        -1
187936    -0.7124970800  2017-05-15 09:06:01          nan        -1
187937    -0.7049838300  2017-11-15 10:31:09          nan        -1

        subsector_id  purchase_amount_new
187933             8       166.8600000000
187934             8        27.9000000000
187935             8        22.9000000000
187936             8        22.9000000000
187937             8        27.9000000000
number of unique merchant ids 1103

In [24]:
part = dat.loc[dat.merchant_id=='M_ID_fc7d7969c3'].reset_index(drop=True)
print(part.shape)

dat = dat.loc[dat.card_id.isin(part.card_id.unique())].reset_index(drop=True)

print("number of unique card ids", dat.card_id.nunique())
print(dat.head())

(2388, 15)
number of unique card ids 277
  authorized_flag          card_id  city_id category_1  installments  \
0               Y  C_ID_3f0a4b6f48       69          N             1
1               Y  C_ID_3f0a4b6f48       -1          Y             1
2               Y  C_ID_3f0a4b6f48       -1          Y             1
3               Y  C_ID_3f0a4b6f48       -1          Y             1
4               Y  C_ID_3f0a4b6f48       -1          Y             1

  category_3  merchant_category_id      merchant_id  month_lag  \
0          B                   661  M_ID_9e84cda3b1         -8
1          B                   661  M_ID_fc7d7969c3          0
2          B                   661  M_ID_fc7d7969c3        -11
3          B                   661  M_ID_fc7d7969c3         -9
4          B                   661  M_ID_fc7d7969c3         -3

   purchase_amount        purchase_date   category_2  state_id  subsector_id  \
0    -0.4961754200  2017-06-28 05:10:01 1.0000000000         9             8
1    -0.7049838300  2018-02-15 08:42:17          nan        -1             8
2    -0.7124970800  2017-03-15 09:30:03          nan        -1             8
3    -0.7124970800  2017-05-15 09:06:01          nan        -1             8
4    -0.7049838300  2017-11-15 10:31:09          nan        -1             8

   purchase_amount_new
0       166.8600000000
1        27.9000000000
2        22.9000000000
3        22.9000000000
4        27.9000000000

Let's take a look at a random card_id to inspect the transactional history:

In [29]:
historical_transactions[historical_transactions.card_id=='C_ID_3f0a4b6f48'].sort_values(["merchant_id", 'purchase_date'])[['card_id', 'merchant_id','purchase_date','purchase_amount_new']]

,card_id,merchant_id,purchase_date,purchase_amount_new
187951,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-01-28 05:25:37,124.9000000000
187943,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-02-28 01:05:23,159.9000000000
187938,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-03-28 04:58:05,159.9000000000
187953,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-05-28 09:35:44,161.8600000000
187933,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-06-28 05:10:01,166.8600000000
187941,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-07-28 02:43:51,168.8600000000
187940,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-08-28 02:19:30,168.8600000000
187949,C_ID_3f0a4b6f48,M_ID_9e84cda3b1,2017-09-28 06:16:35,168.8600000000
187944,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-01-15 08:35:51,22.9000000000
187946,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-02-15 08:27:12,22.9000000000
187935,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-03-15 09:30:03,22.9000000000
187948,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-04-15 05:38:49,22.9000000000
187936,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-05-15 09:06:01,22.9000000000
187950,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-06-15 05:57:25,22.9000000000
187942,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-07-15 08:48:52,27.9000000000
187954,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-08-15 14:56:24,27.9000000000
187947,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-09-15 08:55:54,27.9000000000
187952,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-10-15 10:40:17,27.9000000000
187937,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-11-15 10:31:09,27.9000000000
187939,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2017-12-15 08:24:22,27.9000000000
187945,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2018-01-15 09:49:25,27.9000000000
187934,C_ID_3f0a4b6f48,M_ID_fc7d7969c3,2018-02-15 08:42:17,27.9000000000

In [30]:
new_merchant_transactions[new_merchant_transactions.card_id=='C_ID_3f0a4b6f48'].sort_values('purchase_date')

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id, purchase_amount_new]
Index: []

The payments are happeninig roughly on the same day of month (maybe recurring credit card payments). We also observe a purchase_amount increase from 29.9 to 37.9.

So why the merchant_id=M_ID_fc7d7969c3 is so special? It turns out it is subscribtion based merchant - most likely internet payments???The purchase_amount is distributed in a few very distinct categories:

In [31]:
historical_transactions.loc[historical_transactions.merchant_id=='M_ID_9e84cda3b1'].groupby('purchase_amount_new')['card_id'].count()

purchase_amount_new
0.0100000000        5
0.0200000000        1
0.0400000000        1
0.1000000000        1
0.2700000000        1
0.8400000000        2
0.9200000000        1
1.0000000000        6
1.0800000000        1
1.1000000000        1
1.2800000000        1
1.4800000000        1
2.0000000000        2
2.0300000000        2
2.1500000000        1
2.1700000000        1
2.2600000000        1
2.8000000000        1
3.0000000000       10
3.2800000000        1
3.2900000000        1
3.3100000000        1
3.4500000000        1
3.5900000000        1
3.7500000000        1
3.7900000000        1
4.0000000000        2
4.3600000000        2
4.8900000000        1
5.0000000000        1
                   ..
1079.5000000000     1
1087.7100000000     1
1113.0800000000     2
1114.2500000000     2
1125.7900000000     1
1127.9600000000     1
1185.2600000000     1
1188.3300000000     1
1193.5600000000     1
1211.2800000000     1
1228.8600000000     1
1231.2600000000     1
1259.8300000000     1
1261.8800000000     1
1262.8100000000     1
1267.0500000000     1
1304.1100000000     1
1332.4800000000     1
1337.1100000000     1
1450.9900000000     1
1465.3400000000     1
1475.2700000000     1
1502.1700000000     3
1693.0000000000     1
1817.3700000000     1
2346.0000000000     1
2866.0000000000     1
2968.0000000000     1
3980.0000000000     1
4189.7900000000     1
Name: card_id, Length: 9438, dtype: int64

In [8]:
historical_transactions.loc[historical_transactions.merchant_id=='M_ID_fc7d7969c3'].groupby('purchase_amount_new')['card_id'].count()

purchase_amount_new
1.0000000000     45054
9.5000000000         2
13.9500000000        1
19.9000000000    19709
22.9000000000    31680
27.9000000000    33017
29.9000000000    24097
37.9000000000    23480
Name: card_id, dtype: int64

This is a very useful information - remember - the hypothesis was that target is based on some kind of ratios, and the purchase_amount ratio seems like a very reasonable candidate.

At this point let's summarise what we know:

1. merchant is selling subscribtion based products
2. card_id is automatically charged monthly
3. the price for the subscribtion can change (most likely due to upselling)
4. there are 5 products with prices of 19.90, 22.90, 27.90, 29.90 and 37.90; the 1.00 is probably subscribtion activation fee

Now let's try to make some correlations with train target:

In [9]:
print(train.shape)
print(train.card_id.nunique())

(201917, 7)
201917

In [32]:
dat = dat.merge(train, on = 'card_id')

In [33]:
dat.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,category_2,state_id,subsector_id,purchase_amount_new,first_active_month,feature_1,feature_2,feature_3,target,target_raw
0,Y,C_ID_3f0a4b6f48,69,N,1,B,661,M_ID_9e84cda3b1,-8,-0.4961754200,...,1.0000000000,9,8,166.8600000000,2015-09,1,2,0,0.0000000000,1.0000000000
1,Y,C_ID_3f0a4b6f48,-1,Y,1,B,661,M_ID_fc7d7969c3,0,-0.7049838300,...,nan,-1,8,27.9000000000,2015-09,1,2,0,0.0000000000,1.0000000000
2,Y,C_ID_3f0a4b6f48,-1,Y,1,B,661,M_ID_fc7d7969c3,-11,-0.7124970800,...,nan,-1,8,22.9000000000,2015-09,1,2,0,0.0000000000,1.0000000000
3,Y,C_ID_3f0a4b6f48,-1,Y,1,B,661,M_ID_fc7d7969c3,-9,-0.7124970800,...,nan,-1,8,22.9000000000,2015-09,1,2,0,0.0000000000,1.0000000000
4,Y,C_ID_3f0a4b6f48,-1,Y,1,B,661,M_ID_fc7d7969c3,-3,-0.7049838300,...,nan,-1,8,27.9000000000,2015-09,1,2,0,0.0000000000,1.0000000000

In [34]:
dat.groupby('target_raw')['card_id'].count().reset_index(name='n')

      target_raw     n
0   0.0000000001    24
1   0.1065292098     6
2   0.1592102263   120
3   0.2577319592     8
4   0.2689156625    10
5   0.2823500398     4
6   0.3143921542    10
7   0.5000000000    41
8   0.5250659622    14
9   0.5348952102    14
10  0.5666062379    18
11  0.5737653020    27
12  0.5830721014    14
13  0.6306068602     4
14  0.6391752585    12
15  0.6634093360     8
16  0.6682953310    28
17  0.7668038417    20
18  0.7738308337     3
19  0.8144468454    71
20  0.8689956317    18
21  0.8718555605    42
22  0.9379471244    14
23  0.9581589957     7
24  0.9997817102    14
25  0.9998680889    49
26  1.0000000000  1060
27  1.0356630840     4
28  1.0399361050    11
29  1.0471198006    13
..           ...   ...
40  1.4689102089   202
41  1.4999999993     8
42  1.5371900786    28
43  1.8333333360    13
44  1.9994724321    69
45  2.0000000000    12
46  2.0050251316    10
47  2.1741407336     7
48  2.2113827026     8
49  2.3915784728    11
50  2.4257796725    36
51  2.4336917522    18
52  2.8517688719    10
53  2.9241556974     7
54  3.0385304719    11
55  3.4616519093     6
56  4.4179211499    25
57  4.5483870904    14
58  4.5683377274    14
59  5.5209205123     4
60  6.2132616514    14
61  6.6022427305    16
62  8.9497361472     6
63 12.2477386668    13
64 14.1245398208    15
65 16.6691755971     5
66 18.0577060821    14
67 23.9813619578    12
68 31.9170305646    12
69 53.6197887380     9

[70 rows x 2 columns]

In [12]:
dat.groupby('target_raw')['card_id'].count().reset_index(name='n')

       target_raw     n
0    0.0000000001    23
1    0.0218079291    13
2    0.5000000000    32
3    0.6666666670     2
4    0.7132616494     6
5    0.7991967880     5
6    0.9998680889     3
7    1.0000000000  2294
8    1.0001319285    17
9    1.0001792085    15
10   1.0941048039    18
11   1.0984252006    30
12   1.1091703067    23
13   1.1179941041    34
14   1.1319261219     5
15   1.1337792650     4
16   1.1519756803     6
17   1.1792114680    12
18   1.2183406082    83
19   1.2467105222    10
20   1.3584229425    18
21   1.4407651699    14
22   2.0000000000    33
23   2.0358422972     5
24   2.0752688227    13
25   2.4366812164     4
26   2.5189964170     3
27   2.5510033438     4
28   2.7921147026    14
29   3.1577060996    18
30   3.3073878567     2
31   3.4878627981    14
32   3.8330143519     8
33   4.7150537591    14
34   5.1519788825    11
35   9.5797872060     9
36  10.7508960250    14
37  11.6536939254     3
38  15.6223958826     4
39  72.2908600832    14
40  72.7915772500     7
41  83.1204298546     3
42 251.8361202574     6

It seems most of the target values for this specific card_id group is concentrated in **target_raw=1**. 

This is great news, because we were able to somehow **cluster this specific group of cards just by some ad hoc rules** (single merchant, specific merchant, no new merchant transactions).

Let's take a look at card_ids, which target_raw is equal to 1:

In [35]:
(dat.loc[dat['target_raw']==1,['card_id','purchase_date','purchase_amount_new','target_raw']]
    .sort_values(['card_id','purchase_date'])
    .head())

             card_id        purchase_date  purchase_amount_new   target_raw
599  C_ID_026cb25282  2017-10-29 16:43:45         1.0000000000 1.0000000000
591  C_ID_026cb25282  2017-10-29 16:44:06         1.0000000000 1.0000000000
592  C_ID_026cb25282  2017-10-29 16:44:55         1.0000000000 1.0000000000
601  C_ID_026cb25282  2017-10-29 16:44:58        27.9000000000 1.0000000000
598  C_ID_026cb25282  2017-11-27 13:21:06        89.9000000000 1.0000000000

In [36]:
dat[dat.target_raw == 1].card_id.unique()[:10]

array(['C_ID_3f0a4b6f48', 'C_ID_94d2dfafec', 'C_ID_4cf5db0735',
       'C_ID_ea7f034e3e', 'C_ID_1010ee7d0e', 'C_ID_026cb25282',
       'C_ID_4de715fff3', 'C_ID_99722dd1ef', 'C_ID_2d77b7d713',
       'C_ID_4fbc5d0607'], dtype=object)

In [38]:
for card_id in dat[dat.target_raw == 1].card_id.unique()[:10]:
    print(card_id)
    records = dat[dat.card_id == card_id].sort_values(['merchant_id', 'purchase_date'])[['card_id', 'merchant_id' ,'purchase_date','purchase_amount_new']]
    print(records)

C_ID_3f0a4b6f48
            card_id      merchant_id        purchase_date  purchase_amount_new
18  C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-01-28 05:25:37       124.9000000000
10  C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-02-28 01:05:23       159.9000000000
5   C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-03-28 04:58:05       159.9000000000
20  C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-05-28 09:35:44       161.8600000000
0   C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-06-28 05:10:01       166.8600000000
8   C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-07-28 02:43:51       168.8600000000
7   C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-08-28 02:19:30       168.8600000000
16  C_ID_3f0a4b6f48  M_ID_9e84cda3b1  2017-09-28 06:16:35       168.8600000000
11  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-01-15 08:35:51        22.9000000000
13  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-02-15 08:27:12        22.9000000000
2   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-03-15 09:30:03        22.9000000000
15  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-04-15 05:38:49        22.9000000000
3   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-05-15 09:06:01        22.9000000000
17  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-06-15 05:57:25        22.9000000000
9   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-07-15 08:48:52        27.9000000000
21  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-08-15 14:56:24        27.9000000000
14  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-09-15 08:55:54        27.9000000000
19  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-10-15 10:40:17        27.9000000000
4   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-11-15 10:31:09        27.9000000000
6   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2017-12-15 08:24:22        27.9000000000
12  C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2018-01-15 09:49:25        27.9000000000
1   C_ID_3f0a4b6f48  M_ID_fc7d7969c3  2018-02-15 08:42:17        27.9000000000
C_ID_94d2dfafec
            card_id      merchant_id        purchase_date  purchase_amount_new
34  C_ID_94d2dfafec  M_ID_6f274b9340  2017-01-14 14:06:49         3.0000000000
29  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-01-15 00:05:09         1.0000000000
35  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-01-15 00:05:29        19.9000000000
39  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-02-14 09:10:29        19.9000000000
30  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-03-14 10:06:47        19.9000000000
37  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-04-14 05:50:08        19.9000000000
36  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-05-14 19:58:14        19.9000000000
31  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-06-14 07:23:29        19.9000000000
38  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-07-14 07:11:18        19.9000000000
32  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-08-14 07:52:01        19.9000000000
40  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-09-14 10:49:25        19.9000000000
33  C_ID_94d2dfafec  M_ID_fc7d7969c3  2017-10-14 10:52:28        19.9000000000
C_ID_4cf5db0735
            card_id      merchant_id        purchase_date  purchase_amount_new
62  C_ID_4cf5db0735  M_ID_b574941e3a  2017-01-17 07:06:11       106.6800000000
53  C_ID_4cf5db0735  M_ID_b574941e3a  2017-01-17 07:06:21        63.0800000000
51  C_ID_4cf5db0735  M_ID_b574941e3a  2017-02-16 00:05:09       106.6800000000
70  C_ID_4cf5db0735  M_ID_b574941e3a  2017-03-16 10:25:48       106.6800000000
49  C_ID_4cf5db0735  M_ID_b574941e3a  2017-04-18 06:43:37       106.6800000000
48  C_ID_4cf5db0735  M_ID_b574941e3a  2017-05-17 06:51:04       106.6800000000
61  C_ID_4cf5db0735  M_ID_b574941e3a  2017-06-21 10:49:00       106.6800000000
46  C_ID_4cf5db0735  M_ID_b574941e3a  2017-07-18 06:05:43       106.6800000000
45  C_ID_4cf5db0735  M_ID_b574941e3a  2017-08-23 01:02:07       114.1900000000
63  C_ID_4cf5db0735  M_ID_b574941e3a  2017-09-16 03:02:26       114.0900000000
58  C_ID_4cf5db0735  M_ID_b574941e3a  2017-10-17 03:04:02       114.0900000000
42  C_ID_4cf5db0735  M_ID_b574941e3a  2017-10-28 09:36:13        88.6200000000
41  C_ID_4cf5db0735  M_ID_b574941e3a  2017-11-17 09:27:45        88.5400000000
60  C_ID_4cf5db0735  M_ID_b574941e3a  2017-12-18 11:51:28        88.5400000000
43  C_ID_4cf5db0735  M_ID_b574941e3a  2018-01-22 20:12:34        88.5400000000
68  C_ID_4cf5db0735  M_ID_b574941e3a  2018-02-16 06:03:29        88.5400000000
50  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-01-09 07:14:02        22.9000000000
54  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-02-09 07:03:46        22.9000000000
56  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-03-09 09:04:05        22.9000000000
55  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-04-09 05:28:17        22.9000000000
47  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-05-09 23:51:47        22.9000000000
69  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-06-09 05:05:41        22.9000000000
44  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-07-09 04:45:35        22.9000000000
65  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-08-09 04:47:10        27.9000000000
57  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-09-09 18:24:31        27.9000000000
59  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-10-09 07:46:16        27.9000000000
52  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-11-09 08:38:59        27.9000000000
67  C_ID_4cf5db0735  M_ID_fc7d7969c3  2017-12-09 07:01:19        27.9000000000
64  C_ID_4cf5db0735  M_ID_fc7d7969c3  2018-01-09 08:10:10        27.9000000000
66  C_ID_4cf5db0735  M_ID_fc7d7969c3  2018-02-09 07:07:33        27.9000000000
C_ID_ea7f034e3e
             card_id      merchant_id        purchase_date  \
273  C_ID_ea7f034e3e  M_ID_d741fd4116  2017-03-31 15:20:19
275  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-01-12 08:51:24
279  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-02-12 09:05:22
280  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-03-12 10:38:47
286  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-04-12 06:51:37
277  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-06-12 06:49:51
283  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-07-12 09:00:46
284  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-08-12 07:51:23
274  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-09-12 10:51:22
281  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-10-12 11:39:18
276  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-11-12 13:25:20
282  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2017-12-12 09:14:45
285  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2018-01-12 10:15:07
278  C_ID_ea7f034e3e  M_ID_fc7d7969c3  2018-02-12 10:20:52

     purchase_amount_new
273       279.9000000000
275        22.9000000000
279        22.9000000000
280        22.9000000000
286        22.9000000000
277        22.9000000000
283        22.9000000000
284        27.9000000000
274        27.9000000000
281        27.9000000000
276        27.9000000000
282        27.9000000000
285        27.9000000000
278        27.9000000000
C_ID_1010ee7d0e
             card_id      merchant_id        purchase_date  \
579  C_ID_1010ee7d0e  M_ID_71f21598e6  2017-06-27 13:05:31
583  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-08-26 15:08:25
581  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-08-26 15:08:32
578  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-09-26 09:42:14
576  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-10-26 09:40:19
582  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-11-26 10:47:05
580  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2017-12-26 09:45:20
575  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2018-01-26 10:05:41
577  C_ID_1010ee7d0e  M_ID_fc7d7969c3  2018-02-26 09:02:19

     purchase_amount_new
579       195.0400000000
583         1.0000000000
581        19.9000000000
578        19.9000000000
576        19.9000000000
582        19.9000000000
580        19.9000000000
575        19.9000000000
577        19.9000000000
C_ID_026cb25282
             card_id      merchant_id        purchase_date  \
598  C_ID_026cb25282  M_ID_0da765990b  2017-11-27 13:21:06
596  C_ID_026cb25282  M_ID_0da765990b  2017-12-20 17:33:19
602  C_ID_026cb25282  M_ID_0da765990b  2018-01-22 15:27:07
595  C_ID_026cb25282  M_ID_0da765990b  2018-02-20 15:11:17
599  C_ID_026cb25282  M_ID_fc7d7969c3  2017-10-29 16:43:45
591  C_ID_026cb25282  M_ID_fc7d7969c3  2017-10-29 16:44:06
592  C_ID_026cb25282  M_ID_fc7d7969c3  2017-10-29 16:44:55
601  C_ID_026cb25282  M_ID_fc7d7969c3  2017-10-29 16:44:58
593  C_ID_026cb25282  M_ID_fc7d7969c3  2017-11-29 09:51:43
597  C_ID_026cb25282  M_ID_fc7d7969c3  2017-12-29 08:33:54
600  C_ID_026cb25282  M_ID_fc7d7969c3  2018-01-29 07:35:56
594  C_ID_026cb25282  M_ID_fc7d7969c3  2018-02-28 07:45:53

     purchase_amount_new
598        89.9000000000
596        89.9000000000
602        89.9000000000
595        89.9000000000
599         1.0000000000
591         1.0000000000
592         1.0000000000
601        27.9000000000
593        37.9000000000
597        37.9000000000
600        37.9000000000
594        37.9000000000
C_ID_4de715fff3
             card_id      merchant_id        purchase_date  \
607  C_ID_4de715fff3  M_ID_c6ffe460d4  2017-01-12 21:13:49
605  C_ID_4de715fff3  M_ID_c6ffe460d4  2017-01-12 21:18:01
603  C_ID_4de715fff3  M_ID_fc7d7969c3  2017-01-01 11:17:46
604  C_ID_4de715fff3  M_ID_fc7d7969c3  2017-02-01 09:09:12
606  C_ID_4de715fff3  M_ID_fc7d7969c3  2017-02-03 12:54:26
608  C_ID_4de715fff3  M_ID_fc7d7969c3  2017-02-04 13:24:45

     purchase_amount_new
607       125.7000000000
605       125.7000000000
603        22.9000000000
604        22.9000000000
606        22.9000000000
608        22.9000000000
C_ID_99722dd1ef
             card_id      merchant_id        purchase_date  \
760  C_ID_99722dd1ef  M_ID_57df19bf28  2017-01-19 10:55:39
770  C_ID_99722dd1ef  M_ID_57df19bf28  2017-02-19 06:04:41
753  C_ID_99722dd1ef  M_ID_57df19bf28  2017-03-19 08:01:33
756  C_ID_99722dd1ef  M_ID_57df19bf28  2017-04-19 06:48:21
768  C_ID_99722dd1ef  M_ID_57df19bf28  2017-06-19 06:55:03
765  C_ID_99722dd1ef  M_ID_57df19bf28  2017-07-19 06:15:39
754  C_ID_99722dd1ef  M_ID_57df19bf28  2017-08-19 06:45:50
774  C_ID_99722dd1ef  M_ID_57df19bf28  2017-09-19 09:43:31
769  C_ID_99722dd1ef  M_ID_57df19bf28  2017-10-19 07:47:19
761  C_ID_99722dd1ef  M_ID_57df19bf28  2017-11-19 07:35:54
778  C_ID_99722dd1ef  M_ID_57df19bf28  2017-12-19 06:38:20
758  C_ID_99722dd1ef  M_ID_57df19bf28  2018-01-19 05:15:34
763  C_ID_99722dd1ef  M_ID_57df19bf28  2018-02-19 05:14:27
764  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-01-27 08:34:42
777  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-02-27 08:32:21
766  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-03-27 10:16:12
755  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-04-27 07:11:52
767  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-05-27 12:54:30
762  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-06-27 07:17:36
752  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-07-27 07:11:17
771  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-08-28 12:17:06
759  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-09-27 10:20:01
775  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-10-27 12:51:02
773  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-11-27 10:38:34
776  C_ID_99722dd1ef  M_ID_fc7d7969c3  2017-12-27 09:06:55
757  C_ID_99722dd1ef  M_ID_fc7d7969c3  2018-01-27 08:47:50
772  C_ID_99722dd1ef  M_ID_fc7d7969c3  2018-02-27 09:16:02

     purchase_amount_new
760        44.8700000000
770        44.8700000000
753        44.8700000000
756        54.3600000000
768        54.3600000000
765        54.3600000000
754        54.3600000000
774        56.1200000000
769        56.1200000000
761        56.1200000000
778        56.1200000000
758        56.1200000000
763        56.1200000000
764        22.9000000000
777        22.9000000000
766        22.9000000000
755        22.9000000000
767        22.9000000000
762        22.9000000000
752        22.9000000000
771        22.9000000000
759        22.9000000000
775        22.9000000000
773        22.9000000000
776        22.9000000000
757        22.9000000000
772        27.9000000000
C_ID_2d77b7d713
             card_id      merchant_id        purchase_date  \
795  C_ID_2d77b7d713  M_ID_93bfab4dbc  2017-05-18 17:35:08
796  C_ID_2d77b7d713  M_ID_fc7d7969c3  2017-11-28 17:19:31
794  C_ID_2d77b7d713  M_ID_fc7d7969c3  2017-12-29 12:48:06
793  C_ID_2d77b7d713  M_ID_fc7d7969c3  2018-01-29 09:26:23
792  C_ID_2d77b7d713  M_ID_fc7d7969c3  2018-02-28 09:32:41

     purchase_amount_new
795       149.9000000000
796        19.9000000000
794        27.9000000000
793        27.9000000000
792        27.9000000000
C_ID_4fbc5d0607
             card_id      merchant_id        purchase_date  \
801  C_ID_4fbc5d0607  M_ID_77b63f0cdf  2017-02-18 22:02:12
803  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-01-13 07:39:32
800  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-02-13 07:20:08
802  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-03-13 08:38:44
799  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-04-13 06:24:42
805  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-05-13 10:17:15
806  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-06-13 05:37:56
807  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-07-13 08:08:31
797  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-08-13 06:19:42
798  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-09-13 10:09:10
804  C_ID_4fbc5d0607  M_ID_fc7d7969c3  2017-10-13 08:23:23

     purchase_amount_new
801       645.4000000000
803        22.9000000000
800        22.9000000000
802        22.9000000000
799        22.9000000000
805        22.9000000000
806        22.9000000000
807        22.9000000000
797        27.9000000000
798        27.9000000000
804        27.9000000000

In [40]:
for card_id in dat[dat.target_raw != 1].card_id.unique()[:10]:
    print(card_id)
    records = dat[dat.card_id == card_id].sort_values(['merchant_id', 'purchase_date'])[['card_id', 'merchant_id' ,'purchase_date','purchase_amount_new', 'target_raw']]
    print(records)

C_ID_8da6ff1ae7
            card_id      merchant_id        purchase_date  \
22  C_ID_8da6ff1ae7  M_ID_57df19bf28  2018-01-17 10:53:47
24  C_ID_8da6ff1ae7  M_ID_57df19bf28  2018-02-12 05:30:45
26  C_ID_8da6ff1ae7  M_ID_fc7d7969c3  2017-10-06 03:38:35
25  C_ID_8da6ff1ae7  M_ID_fc7d7969c3  2017-11-05 09:10:13
27  C_ID_8da6ff1ae7  M_ID_fc7d7969c3  2017-12-05 08:40:53
23  C_ID_8da6ff1ae7  M_ID_fc7d7969c3  2018-01-05 11:05:40
28  C_ID_8da6ff1ae7  M_ID_fc7d7969c3  2018-02-05 07:49:23

    purchase_amount_new   target_raw
22        39.8900000000 2.1741407336
24        39.8900000000 2.1741407336
26        19.9000000000 2.1741407336
25        27.9000000000 2.1741407336
27        27.9000000000 2.1741407336
23        27.9000000000 2.1741407336
28        27.9000000000 2.1741407336
C_ID_37c961ab33
             card_id      merchant_id        purchase_date  \
182  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-04 13:15:38
268  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-04 15:48:28
87   C_ID_37c961ab33  M_ID_9139332ccc  2017-01-05 13:26:06
133  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-05 13:27:02
240  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-05 13:28:17
220  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-05 13:30:55
210  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-05 15:32:59
142  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-25 12:16:17
170  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-25 13:03:39
108  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-27 16:52:39
229  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-28 20:34:41
99   C_ID_37c961ab33  M_ID_9139332ccc  2017-01-30 13:59:30
209  C_ID_37c961ab33  M_ID_9139332ccc  2017-01-30 21:50:15
78   C_ID_37c961ab33  M_ID_9139332ccc  2017-02-06 02:08:41
121  C_ID_37c961ab33  M_ID_9139332ccc  2017-02-08 22:25:45
239  C_ID_37c961ab33  M_ID_9139332ccc  2017-02-14 14:28:57
92   C_ID_37c961ab33  M_ID_9139332ccc  2017-02-15 04:09:29
187  C_ID_37c961ab33  M_ID_9139332ccc  2017-02-17 10:45:32
82   C_ID_37c961ab33  M_ID_9139332ccc  2017-02-17 10:46:38
119  C_ID_37c961ab33  M_ID_9139332ccc  2017-02-22 22:44:26
135  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-05 17:37:27
260  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-06 04:57:14
179  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-06 13:25:37
214  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-06 14:15:55
256  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-06 17:10:26
162  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-07 16:11:26
228  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-07 16:11:59
118  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-07 16:12:33
128  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-07 16:13:07
146  C_ID_37c961ab33  M_ID_9139332ccc  2017-03-07 18:12:31
..               ...              ...                  ...
93   C_ID_37c961ab33  M_ID_9139332ccc  2017-12-06 16:25:00
116  C_ID_37c961ab33  M_ID_9139332ccc  2017-12-11 11:42:20
224  C_ID_37c961ab33  M_ID_9139332ccc  2017-12-12 16:27:03
149  C_ID_37c961ab33  M_ID_9139332ccc  2017-12-26 18:22:50
125  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-03 12:34:58
160  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 14:05:52
167  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 14:06:03
185  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 14:06:21
218  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 14:06:41
150  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 14:07:27
86   C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 15:55:17
145  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 15:56:10
123  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 15:56:49
154  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 15:57:50
236  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 16:02:42
255  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 16:03:33
233  C_ID_37c961ab33  M_ID_9139332ccc  2018-01-05 16:06:32
191  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-05 10:47:37
122  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-05 10:53:48
174  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-05 11:05:56
164  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-05 11:12:57
261  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-05 14:36:31
195  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-06 18:32:56
190  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-06 18:33:44
271  C_ID_37c961ab33  M_ID_9139332ccc  2018-02-06 18:33:44
132  C_ID_37c961ab33  M_ID_fc7d7969c3  2017-10-06 16:42:56
105  C_ID_37c961ab33  M_ID_fc7d7969c3  2017-11-06 10:44:46
106  C_ID_37c961ab33  M_ID_fc7d7969c3  2017-12-06 06:54:30
245  C_ID_37c961ab33  M_ID_fc7d7969c3  2018-01-06 08:35:55
178  C_ID_37c961ab33  M_ID_fc7d7969c3  2018-02-06 07:42:54

     purchase_amount_new   target_raw
182       487.3400000000 1.4689102089
268         2.5000000000 1.4689102089
87        478.3500000000 1.4689102089
133       487.3400000000 1.4689102089
240       526.8000000000 1.4689102089
220       267.9000000000 1.4689102089
210        73.3500000000 1.4689102089
142        65.7600000000 1.4689102089
170        65.7600000000 1.4689102089
108       493.8000000000 1.4689102089
229         2.2500000000 1.4689102089
99        118.6200000000 1.4689102089
209         2.2500000000 1.4689102089
78        659.9700000000 1.4689102089
121         9.0000000000 1.4689102089
239       394.5100000000 1.4689102089
92        138.3000000000 1.4689102089
187       374.8700000000 1.4689102089
82        123.7100000000 1.4689102089
119        33.8900000000 1.4689102089
135         2.2500000000 1.4689102089
260        13.4700000000 1.4689102089
179        27.9600000000 1.4689102089
214       213.8000000000 1.4689102089
256       213.8000000000 1.4689102089
162        57.9800000000 1.4689102089
228       155.9400000000 1.4689102089
118        28.9900000000 1.4689102089
128        27.9600000000 1.4689102089
146        37.9000000000 1.4689102089
..                   ...          ...
93        154.7500000000 1.4689102089
116         1.2000000000 1.4689102089
224       351.7500000000 1.4689102089
149         1.0000000000 1.4689102089
125       141.8400000000 1.4689102089
160         1.0000000000 1.4689102089
167         1.0000000000 1.4689102089
185         1.0000000000 1.4689102089
218         1.0000000000 1.4689102089
150        29.9900000000 1.4689102089
86        141.8400000000 1.4689102089
145       110.9700000000 1.4689102089
123        91.9600000000 1.4689102089
154       129.9000000000 1.4689102089
236       139.9000000000 1.4689102089
255       187.0100000000 1.4689102089
233        89.4000000000 1.4689102089
191        96.1800000000 1.4689102089
122       104.9700000000 1.4689102089
174       209.7500000000 1.4689102089
164        89.9700000000 1.4689102089
261       191.9400000000 1.4689102089
195       278.8000000000 1.4689102089
190       117.1200000000 1.4689102089
271       117.1200000000 1.4689102089
132         1.0000000000 1.4689102089
105        37.9000000000 1.4689102089
106        37.9000000000 1.4689102089
245        37.9000000000 1.4689102089
178        37.9000000000 1.4689102089

[202 rows x 5 columns]
C_ID_9a9e8e416a
             card_id      merchant_id        purchase_date  \
307  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-01-06 21:32:07
312  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-01-15 21:50:45
301  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-01-20 14:39:00
308  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-02-06 21:42:13
306  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-02-20 15:00:12
288  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-03-06 23:40:07
300  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-03-20 19:45:04
310  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-04-06 19:49:00
296  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-04-20 16:44:51
294  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-05-06 19:53:27
289  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-05-20 16:55:56
290  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-06-06 20:26:43
297  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-06-20 17:12:16
313  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-07-06 19:58:52
292  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-07-20 17:17:27
305  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-08-06 20:01:29
295  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-08-20 17:50:44
298  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-09-07 00:19:35
302  C_ID_9a9e8e416a  M_ID_6f274b9340  2017-09-20 19:45:32
299  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-01-31 08:10:24
303  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-02-28 11:47:22
309  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-03-31 08:32:36
291  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-04-30 06:49:11
287  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-05-31 06:31:17
304  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-07-31 07:57:25
293  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-08-31 07:45:12
311  C_ID_9a9e8e416a  M_ID_fc7d7969c3  2017-09-30 10:41:27

     purchase_amount_new   target_raw
307         6.9900000000 0.5737653020
312         4.9500000000 0.5737653020
301        12.4900000000 0.5737653020
308         6.9900000000 0.5737653020
306        12.4900000000 0.5737653020
288         6.9900000000 0.5737653020
300        12.4900000000 0.5737653020
310         6.9900000000 0.5737653020
296        12.4900000000 0.5737653020
294         6.9900000000 0.5737653020
289        12.4900000000 0.5737653020
290         6.9900000000 0.5737653020
297        12.4900000000 0.5737653020
313         6.9900000000 0.5737653020
292        12.4900000000 0.5737653020
305         6.9900000000 0.5737653020
295        12.4900000000 0.5737653020
298         6.9900000000 0.5737653020
302        12.4900000000 0.5737653020
299        29.9000000000 0.5737653020
303        29.9000000000 0.5737653020
309        29.9000000000 0.5737653020
291        29.9000000000 0.5737653020
287        29.9000000000 0.5737653020
304        37.9000000000 0.5737653020
293        19.9000000000 0.5737653020
311        19.9000000000 0.5737653020
C_ID_0dcf633ea7
             card_id      merchant_id        purchase_date  \
319  C_ID_0dcf633ea7  M_ID_57df19bf28  2017-01-03 05:55:57
314  C_ID_0dcf633ea7  M_ID_57df19bf28  2017-02-03 13:55:37
323  C_ID_0dcf633ea7  M_ID_57df19bf28  2017-03-03 15:41:59
315  C_ID_0dcf633ea7  M_ID_57df19bf28  2017-05-03 07:29:50
324  C_ID_0dcf633ea7  M_ID_57df19bf28  2017-06-03 11:39:36
322  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-01-09 08:17:46
318  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-02-09 07:27:54
317  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-03-09 09:57:13
321  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-04-09 06:38:06
320  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-05-10 02:17:00
316  C_ID_0dcf633ea7  M_ID_fc7d7969c3  2017-06-09 05:33:55

     purchase_amount_new   target_raw
319        33.9700000000 1.0399361050
314        33.9700000000 1.0399361050
323        33.9700000000 1.0399361050
315        33.9700000000 1.0399361050
324        37.2000000000 1.0399361050
322        22.9000000000 1.0399361050
318        22.9000000000 1.0399361050
317        22.9000000000 1.0399361050
321        22.9000000000 1.0399361050
320        22.9000000000 1.0399361050
316        22.9000000000 1.0399361050
C_ID_18f9711665
             card_id      merchant_id        purchase_date  \
328  C_ID_18f9711665  M_ID_96ba3c7b60  2017-02-03 11:25:02
325  C_ID_18f9711665  M_ID_fc7d7969c3  2017-02-04 14:10:10
331  C_ID_18f9711665  M_ID_fc7d7969c3  2017-02-04 14:10:14
330  C_ID_18f9711665  M_ID_fc7d7969c3  2017-03-04 09:39:56
326  C_ID_18f9711665  M_ID_fc7d7969c3  2017-04-04 05:31:02
327  C_ID_18f9711665  M_ID_fc7d7969c3  2017-05-04 13:41:46
329  C_ID_18f9711665  M_ID_fc7d7969c3  2017-06-04 05:20:49

     purchase_amount_new   target_raw
328       811.9000000000 1.1179941041
325         1.0000000000 1.1179941041
331        29.9000000000 1.1179941041
330        29.9000000000 1.1179941041
326        29.9000000000 1.1179941041
327        29.9000000000 1.1179941041
329        29.9000000000 1.1179941041
C_ID_9859b31349
             card_id      merchant_id        purchase_date  \
383  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-02 08:31:46
374  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-02 10:09:30
375  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-04 08:41:10
359  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-06 10:22:34
350  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-08 09:59:13
369  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-10 10:18:25
361  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-12 10:16:52
393  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-14 10:20:16
377  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-16 10:03:11
334  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-16 18:38:20
380  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-18 09:44:06
345  C_ID_9859b31349  M_ID_3c8482dcee  2017-01-18 16:41:17
398  C_ID_9859b31349  M_ID_3c8482dcee  2017-02-19 08:05:02
342  C_ID_9859b31349  M_ID_3c8482dcee  2017-03-19 11:04:30
351  C_ID_9859b31349  M_ID_3c8482dcee  2017-04-19 08:56:21
362  C_ID_9859b31349  M_ID_3c8482dcee  2017-05-19 08:50:58
356  C_ID_9859b31349  M_ID_3c8482dcee  2017-07-19 08:40:59
379  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-19 08:26:30
341  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-21 09:01:41
385  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-23 09:57:51
396  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-25 09:59:12
391  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-28 11:00:27
388  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-29 13:52:19
387  C_ID_9859b31349  M_ID_3c8482dcee  2017-08-30 09:02:22
333  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-01 12:20:20
343  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-03 12:48:37
344  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-05 14:24:39
357  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-07 12:55:21
368  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-09 12:54:31
389  C_ID_9859b31349  M_ID_3c8482dcee  2017-09-11 12:47:16
..               ...              ...                  ...
339  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-01 10:46:45
365  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-05 13:05:56
367  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-07 13:25:17
348  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-09 14:27:22
399  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-11 11:04:34
372  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-13 12:16:53
384  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-15 09:57:39
337  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-17 13:50:18
370  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-19 13:39:43
340  C_ID_9859b31349  M_ID_3c8482dcee  2017-10-19 18:35:35
386  C_ID_9859b31349  M_ID_fc7d7969c3  2017-01-18 11:06:15
347  C_ID_9859b31349  M_ID_fc7d7969c3  2017-01-18 16:44:50
355  C_ID_9859b31349  M_ID_fc7d7969c3  2017-01-18 16:44:55
352  C_ID_9859b31349  M_ID_fc7d7969c3  2017-02-18 09:14:19
390  C_ID_9859b31349  M_ID_fc7d7969c3  2017-03-18 09:51:00
371  C_ID_9859b31349  M_ID_fc7d7969c3  2017-04-18 07:48:43
336  C_ID_9859b31349  M_ID_fc7d7969c3  2017-05-18 07:51:14
381  C_ID_9859b31349  M_ID_fc7d7969c3  2017-06-18 08:26:25
395  C_ID_9859b31349  M_ID_fc7d7969c3  2017-06-18 18:38:31
397  C_ID_9859b31349  M_ID_fc7d7969c3  2017-06-18 18:39:14
354  C_ID_9859b31349  M_ID_fc7d7969c3  2017-06-18 18:50:05
364  C_ID_9859b31349  M_ID_fc7d7969c3  2017-06-18 18:50:07
363  C_ID_9859b31349  M_ID_fc7d7969c3  2017-07-18 09:39:16
400  C_ID_9859b31349  M_ID_fc7d7969c3  2017-08-18 10:15:46
382  C_ID_9859b31349  M_ID_fc7d7969c3  2017-09-18 11:00:35
392  C_ID_9859b31349  M_ID_fc7d7969c3  2017-10-18 10:52:55
358  C_ID_9859b31349  M_ID_fc7d7969c3  2017-10-22 14:57:57
346  C_ID_9859b31349  M_ID_fc7d7969c3  2017-10-30 16:28:09
332  C_ID_9859b31349  M_ID_fc7d7969c3  2017-11-07 15:28:31
376  C_ID_9859b31349  M_ID_fc7d7969c3  2017-11-15 16:54:14

     purchase_amount_new   target_raw
383        69.9000000000 1.9994724321
374        69.9000000000 1.9994724321
375        69.9000000000 1.9994724321
359        69.9000000000 1.9994724321
350        69.9000000000 1.9994724321
369        69.9000000000 1.9994724321
361        69.9000000000 1.9994724321
393        69.9000000000 1.9994724321
377        69.9000000000 1.9994724321
334        69.9000000000 1.9994724321
380        69.9000000000 1.9994724321
345        69.9000000000 1.9994724321
398        69.9000000000 1.9994724321
342        69.9000000000 1.9994724321
351        69.9000000000 1.9994724321
362        69.9000000000 1.9994724321
356        69.9000000000 1.9994724321
379        69.9000000000 1.9994724321
341        69.9000000000 1.9994724321
385        69.9000000000 1.9994724321
396        69.9000000000 1.9994724321
391        69.9000000000 1.9994724321
388        69.9000000000 1.9994724321
387        69.9000000000 1.9994724321
333        69.9000000000 1.9994724321
343        69.9000000000 1.9994724321
344        69.9000000000 1.9994724321
357        69.9000000000 1.9994724321
368        69.9000000000 1.9994724321
389        69.9000000000 1.9994724321
..                   ...          ...
339        69.9000000000 1.9994724321
365        69.9000000000 1.9994724321
367        69.9000000000 1.9994724321
348        69.9000000000 1.9994724321
399        69.9000000000 1.9994724321
372        69.9000000000 1.9994724321
384        69.9000000000 1.9994724321
337        69.9000000000 1.9994724321
370        69.9000000000 1.9994724321
340        69.9000000000 1.9994724321
386        22.9000000000 1.9994724321
347         1.0000000000 1.9994724321
355        22.9000000000 1.9994724321
352        22.9000000000 1.9994724321
390        22.9000000000 1.9994724321
371        22.9000000000 1.9994724321
336        22.9000000000 1.9994724321
381        22.9000000000 1.9994724321
395         1.0000000000 1.9994724321
397         1.0000000000 1.9994724321
354         1.0000000000 1.9994724321
364        22.9000000000 1.9994724321
363        22.9000000000 1.9994724321
400        22.9000000000 1.9994724321
382        22.9000000000 1.9994724321
392        22.9000000000 1.9994724321
358        22.9000000000 1.9994724321
346        22.9000000000 1.9994724321
332        22.9000000000 1.9994724321
376        22.9000000000 1.9994724321

[69 rows x 5 columns]
C_ID_a693c92a52
             card_id      merchant_id        purchase_date  \
418  C_ID_a693c92a52  M_ID_6f274b9340  2017-02-11 23:20:10
416  C_ID_a693c92a52  M_ID_6f274b9340  2017-03-01 20:28:29
412  C_ID_a693c92a52  M_ID_6f274b9340  2017-03-14 12:40:39
407  C_ID_a693c92a52  M_ID_6f274b9340  2017-03-26 18:07:36
417  C_ID_a693c92a52  M_ID_6f274b9340  2017-12-30 07:18:22
409  C_ID_a693c92a52  M_ID_6f274b9340  2017-12-30 07:19:28
415  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-01-25 10:32:13
404  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-02-25 09:42:00
411  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-03-25 11:13:15
414  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-04-25 08:19:22
403  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-05-25 17:13:09
410  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-06-25 07:47:57
402  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-07-25 10:34:40
408  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-08-25 10:06:46
406  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-09-25 11:12:53
405  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-10-25 11:51:05
401  C_ID_a693c92a52  M_ID_fc7d7969c3  2017-12-25 09:50:30
413  C_ID_a693c92a52  M_ID_fc7d7969c3  2018-01-25 12:18:29

     purchase_amount_new   target_raw
418        12.3400000000 1.0553763430
416        47.7500000000 1.0553763430
412         7.9900000000 1.0553763430
407         3.6900000000 1.0553763430
417        15.9900000000 1.0553763430
409        15.9900000000 1.0553763430
415        22.9000000000 1.0553763430
404        22.9000000000 1.0553763430
411        22.9000000000 1.0553763430
414        22.9000000000 1.0553763430
403        22.9000000000 1.0553763430
410        22.9000000000 1.0553763430
402        27.9000000000 1.0553763430
408        27.9000000000 1.0553763430
406        27.9000000000 1.0553763430
405        27.9000000000 1.0553763430
401        27.9000000000 1.0553763430
413        27.9000000000 1.0553763430
C_ID_82821b8571
             card_id      merchant_id        purchase_date  \
427  C_ID_82821b8571  M_ID_6f274b9340  2017-10-26 14:42:46
421  C_ID_82821b8571  M_ID_6f274b9340  2017-11-23 12:34:40
420  C_ID_82821b8571  M_ID_6f274b9340  2017-12-07 13:56:49
422  C_ID_82821b8571  M_ID_6f274b9340  2017-12-07 13:57:14
426  C_ID_82821b8571  M_ID_fc7d7969c3  2017-10-26 14:40:29
424  C_ID_82821b8571  M_ID_fc7d7969c3  2017-11-19 09:41:29
423  C_ID_82821b8571  M_ID_fc7d7969c3  2017-12-19 07:11:50

In [46]:
grp = dat.groupby(["card_id", "merchant_id"]).purchase_amount_new.std().reset_index(name="cm_std").groupby("merchant_id")

merchant_mean_std = pd.DataFrame()
merchant_mean_std["card_cnt"] = grp.size()
merchant_mean_std["avg_cm_std"] = grp.cm_std.mean()

print(merchant_mean_std.shape)
merchant_mean_std.head()

(86, 2)

                 card_cnt   avg_cm_std
merchant_id
M_ID_00a6ca8a8a         5          nan
M_ID_03de385551         1 0.0000000000
M_ID_076cd8a829         1          nan
M_ID_09d7a200d1         1          nan
M_ID_0da765990b         1 0.0000000000

In [48]:
merchant_mean_std.sort_values("card_cnt").tail()

                 card_cnt     avg_cm_std
merchant_id
M_ID_57df19bf28         7   5.0587995899
M_ID_6f274b9340         9  40.6159460357
M_ID_86be58d7e0        14   2.0425675612
M_ID_9139332ccc        19 156.8595157534
M_ID_fc7d7969c3       164   7.6663933099

# A ratio

1. So there is some **fluctuation** in purchase_amount, therefore it is still unclear why the target_raw==1.

2. However, the most interesting part lies not in target_raw=1, but actually in **other float numbers**!

Let's take a step back first and revisit the purchase_amount values we extracted earlier, and let's calculate possible ratios based on these values:

In [16]:
list(historical_transactions.loc[historical_transactions.merchant_id=='M_ID_fc7d7969c3'].groupby('purchase_amount_new')['card_id'].count().index)

[1.0, 9.5, 13.95, 19.9, 22.9, 27.9, 29.9, 37.9]

In [17]:
prices = [19.90, 22.90, 27.90, 29.90, 37.90]
prices = [59.65, 60.18, 60.46, 60.84, 61.03, 61.34, 61.47, 61.99]
sorted({ i/j for j in prices for i in prices})

[0.9622519761251814,
 0.9703920611680494,
 0.9708017422164865,
 0.9724486468862079,
 0.9753185997741571,
 0.9773881697525807,
 0.9790141532454856,
 0.9804404996712688,
 0.9810890120639061,
 0.9814486207452815,
 0.9835692207580934,
 0.9845136312308437,
 0.9856537332898597,
 0.9860724233983287,
 0.9866027125372147,
 0.9891518737672583,
 0.9895144378125504,
 0.9897510980966325,
 0.9906603309847616,
 0.9911930874044533,
 0.9916115502500403,
 0.9918487120965113,
 0.9928420367659021,
 0.9937541091387245,
 0.9949462014998369,
 0.9953688389017532,
 0.9968867769949206,
 0.9978851472262893,
 1.0,
 1.002119334854907,
 1.0031229454306376,
 1.0046527085410435,
 1.0050794691135507,
 1.0062851472047636,
 1.0072095690643945,
 1.0082182774490467,
 1.008459411094843,
 1.0088851634534786,
 1.0094277208071452,
 1.0103550295857988,
 1.0105966742745354,
 1.0109670987038883,
 1.0135792120704108,
 1.0141242937853108,
 1.014555077737347,
 1.01572996886777,
 1.0167052596758186,
 1.0189020381328073,
 1.0192755068128947,
 1.0199497066219616,
 1.0214356929212363,
 1.0231349538977368,
 1.0253059874297057,
 1.0283319362950545,
 1.030076437354603,
 1.0305113160100587,
 1.0392288348700756]

These numbers are not telling anything at the moment.

But there is the catch - let's revisit the previous table, were we calculated unique target_raw values (compare the list above with the table below).

Hint: if you looked closely you may find that some of the list values overlap!

In [18]:
def min_offset(x):
    return np.abs((np.array(sorted({ i/j for j in prices for i in prices})) - x)).min()

part = dat.groupby('target_raw')['card_id'].count().reset_index(name='n')
part["min_offset"] = part.target_raw.apply(min_offset)
part.sort_values("min_offset").head()

     target_raw     n   min_offset
7  1.0000000000  2294 0.0000000000
6  0.9998680889     3 0.0001319111
8  1.0001319285    17 0.0001319285
9  1.0001792085    15 0.0001792085
10 1.0941048039    18 0.0548759690

You will find the values like 0.713261, 1.21834, 1.35842 appearing in both objects!

This is pretty amazing find and at this point I am 100% sure that the target is a ratio of change in purchase_amount.

However, there is still a question to ask - how exactly this ratio is calculated?

Let's take this card_id for example:

In [19]:
dat[dat.card_id=='C_ID_2c8d99614f'].sort_values('purchase_date')[['card_id','purchase_date','purchase_amount_new','target_raw']]

              card_id        purchase_date  purchase_amount_new   target_raw
2245  C_ID_2c8d99614f  2017-06-11 23:59:54         1.0000000000 1.2183406082
2241  C_ID_2c8d99614f  2017-06-11 23:59:59        22.9000000000 1.2183406082
2250  C_ID_2c8d99614f  2017-07-11 08:50:47        22.9000000000 1.2183406082
2239  C_ID_2c8d99614f  2017-08-11 06:41:07        22.9000000000 1.2183406082
2248  C_ID_2c8d99614f  2017-09-11 18:46:07        22.9000000000 1.2183406082
2247  C_ID_2c8d99614f  2017-10-11 09:28:10        22.9000000000 1.2183406082
2246  C_ID_2c8d99614f  2017-11-11 10:46:12        22.9000000000 1.2183406082
2240  C_ID_2c8d99614f  2017-12-11 07:36:29        22.9000000000 1.2183406082
2243  C_ID_2c8d99614f  2018-01-11 09:54:39        22.9000000000 1.2183406082
2244  C_ID_2c8d99614f  2018-01-15 16:14:59        22.9000000000 1.2183406082
2242  C_ID_2c8d99614f  2018-01-18 17:54:38         1.0000000000 1.2183406082
2249  C_ID_2c8d99614f  2018-01-18 17:54:41        22.9000000000 1.2183406082
2238  C_ID_2c8d99614f  2018-02-18 08:03:40        22.9000000000 1.2183406082

If we excluded the subscribtion activation fees (1.00), you would expect the target_raw to be 1 (as purchase_amount is constant...)

However the target_raw is 1.2183406082, which in fact is equivalent to 27.90/22.90.

Amazing! Now we definetly know that the purchase_amount for this card_id has changed, and it is very likely happened in the future (month_lag = 1 or month_lag = 2). This information we do not observe in new_merchant_transactions table, because organizers have excluded that on purpose in data preparation stage - if we would have this information, we could easily track down how target has been calculated, and 0.000 RMSE score would be possible.

What does this all mean for target calculation?

The answer is simple:

> target is equal to the ratio of money spent in the future divided by money spent in the past!

I guess this transfers to all merchants and to all cards in the dataset, but the calculations are a bit harder, as more merchants are involved.

# Bonus


Now as we know that we are working with future/history ratios, the outlier value (-33.xxxxx) is actually the meaning of a user not spending a single cent in the future on the historical merchants - mystery solved!

If i was an organizer, I would have made it to be ~ -10 or so, as RMSE is so sensitive regarding this outler'ish value...

Sadly, this also means that these outliers cannot be predicted with the given historical information...

Knowing all this I can say for sure that the data we have is in fact real data and not simulated one! In case I am wrong on this one - well done Elo - you did a marvelous job in simulation part (would be hard to make a clean generator like that!)

# Things that are still not clear...

Now as we definetly know that target is a ratio of future and past transaction amounts, there are still some unaswered questions, mainly:

which months are taken into calculation? month_lag=1 / month_lag=0, month_lag=2 / month_lag=0, month_lag=1 / min(month_lag=0, month_lag=-1), etc. All these are all valid options...
does new_merchant_transactions have any influence for the target?

# What's next?

So what you can do with this kind of information. 

1. Firstly, the rate of purchase_amount monthly change for (card_id, merchant_id) tuple should be the key features in your models, i.e. average change ratio of (5->4, 4->3, 3->2, 2->1, 1->0); 

2. Or features such as sum(future_purchase_amount)/sum(purchase_amount_lag_-1), etc.

3. This also allows building new intermediate models, like predicting the historic merchant performance in month_lag=1 and month_lag=2 and stacking its predictions to your main model.

These are the most impactful things I can think of right now, but there could always be more!