In [3]:
from data_io import load_train
import pandas as pd

In [4]:
train = load_train()

In [5]:
train['rounded_target'] = train['target'].round(0)
train = train.sort_values('rounded_target').reset_index(drop=True)
vc = train['rounded_target'].value_counts()
vc = dict(sorted(vc.items()))
df = pd.DataFrame()
train['indexcol'],i = 0,1
for k,v in vc.items():
    step = train.shape[0]/v
    indent = train.shape[0]/(v+1)
    df2 = train[train['rounded_target'] == k].sample(v, random_state=120).reset_index(drop=True)
    for j in range(0, v):
        df2.at[j, 'indexcol'] = indent + j*step + 0.000001*i
    df = pd.concat([df2,df])
    i+=1

train = df.sort_values('indexcol', ascending=True).reset_index(drop=True)
del train['indexcol'], train['rounded_target']

In [6]:
df.head()

,feature_1,feature_2,feature_3,target,first_active_month,card_id,rounded_target,indexcol
0,5.0,1.0,1.0,17.965069,2017-05,C_ID_a4e600deef,18.0,67305
1,5.0,1.0,1.0,17.675716,2017-01,C_ID_1c8a5b9d44,18.0,168264
0,3.0,2.0,1.0,15.606405,2017-05,C_ID_700c15a07d,16.0,67305
1,5.0,1.0,1.0,15.994455,2017-02,C_ID_b0f1d28bd3,16.0,168264
0,5.0,2.0,1.0,15.294621,2016-11,C_ID_ecc4e2e188,15.0,40383