In [2]:
import pandas as pd
from data_io import load_train, load_test

In [3]:
train = load_train()
test = load_test()

In [5]:
test.head()

   feature_1  feature_2  feature_3 first_active_month          card_id
0        3.0        3.0        1.0            2017-04  C_ID_0ab67a22ab
1        2.0        3.0        0.0            2017-01  C_ID_130fd0cbdd
2        5.0        1.0        1.0            2017-08  C_ID_b709037bc5
3        2.0        1.0        0.0            2017-12  C_ID_d27d835a9f
4        5.0        1.0        1.0            2015-12  C_ID_2b5e3df5c2

In [4]:
train.head()

,feature_1,feature_2,feature_3,target,first_active_month,card_id
0,5.0,2.0,1.0,-0.820283,2017-06,C_ID_92a2005557
1,4.0,1.0,0.0,0.392913,2017-01,C_ID_3d0044924f
2,2.0,2.0,0.0,0.688056,2016-08,C_ID_d639edf6cd
3,4.0,3.0,0.0,0.142495,2017-09,C_ID_186d6a6901
4,1.0,3.0,0.0,-0.159749,2017-11,C_ID_cdbd2c0db2